/* ---------------------------------------

[Main Stylesheet]

Project:    	  Hyipzon - Online Investment Planning HTML Template
Version:    	  1.0
Primary Use:      Online Investment Planning HTML Template

------------------------------------------

[Table of contents]

1. Fonts
2. Reset Css
3. Global Settings
4. Section Styles
5. Colors
6. Margin and Padding
7. Background Overlay
8. Buttons Style
9. Preloader
10. ScrollUp Button
11. Main Header style
12. Hero Area
13. Features Area
14. Custom Hero
15. Promo Area
16. Our Partners
17. Pricing Table
18. Why Choose us
19. Parallax Area
20. Testimonial Area
21. Counter Area
22. App Area
23. Blog Area
24. Footer Area
25. Custom Banner
26. About Area
27. Award Area
28. Card Features
29. All Partners Area
30. Team Area
31. Card Apply Form
32. Become Partner Area
33. Card Details Area
34. Choose Card
35. Faq Area
36. Error Area

-------------------------------------------*/
/*** 

================
	Fonts
================


font-family: 'louis_george_caferegular', sans-serif;
font-family: 'louis_george_cafebold', sans-serif;

 ***/
@font-face {
    font-family: 'louis_george_caferegular';
  src: url("../fonts/louis_george_cafe-webfont.woff2") format("woff2"), url("../fonts/louis_george_cafe-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'louis_george_cafebold';
  src: url("../fonts/louis_george_cafe_bold-webfont.woff2") format("woff2"), url("../fonts/louis_george_cafe_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
  Flaticon icon font: Flaticon
*/
@font-face {
    font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-shield:before {
    content: "\f100";
}

.flaticon-quote:before {
    content: "\f101";
}

.flaticon-door:before {
    content: "\f102";
}

.flaticon-mails:before {
    content: "\f103";
}

.flaticon-phone:before {
    content: "\f104";
}

.flaticon-projection-screen:before {
    content: "\f105";
}

.flaticon-website:before {
    content: "\f106";
}

.flaticon-save-money:before {
    content: "\f107";
}

.flaticon-ssl:before {
    content: "\f108";
}

.flaticon-ui-1:before {
    content: "\f109";
}

.flaticon-click:before {
    content: "\f10a";
}

.flaticon-click-1:before {
    content: "\f10b";
}

.flaticon-prediction:before {
    content: "\f10c";
}

.flaticon-play:before {
    content: "\f10d";
}

.flaticon-google-maps:before {
    content: "\f10e";
}

.flaticon-add-photo:before {
    content: "\f10f";
}

.flaticon-typography:before {
    content: "\f110";
}

.flaticon-shopping-basket:before {
    content: "\f111";
}

.flaticon-commerce-and-shopping:before {
    content: "\f112";
}

.flaticon-box:before {
    content: "\f113";
}

.flaticon-height:before {
    content: "\f114";
}

.flaticon-order:before {
    content: "\f115";
}

.flaticon-tshirt:before {
    content: "\f116";
}

.flaticon-food-and-restaurant:before {
    content: "\f117";
}

.flaticon-commerce-and-shopping-1:before {
    content: "\f118";
}

.flaticon-3d-design:before {
    content: "\f119";
}

.flaticon-world:before {
    content: "\f11a";
}

.flaticon-support:before {
    content: "\f11b";
}

.flaticon-free-shipping:before {
    content: "\f11c";
}

.flaticon-vr-glass:before {
    content: "\f11d";
}

.flaticon-add:before {
    content: "\f11e";
}

.flaticon-quote-1:before {
    content: "\f11f";
}

.flaticon-bin:before {
    content: "\f120";
}

.flaticon-facebook-1:before {
    content: "\f121";
}

.flaticon-twitter:before {
    content: "\f122";
}

.flaticon-google-play:before {
    content: "\f123";
}

.flaticon-fit:before {
    content: "\f124";
}

.flaticon-ui-2:before {
    content: "\f125";
}

.flaticon-cost:before {
    content: "\f126";
}

.flaticon-product-1:before {
    content: "\f127";
}

.flaticon-user-profiles:before {
    content: "\f128";
}

.flaticon-support-2:before {
    content: "\f129";
}

.flaticon-guarantee:before {
    content: "\f12a";
}

.flaticon-free:before {
    content: "\f12b";
}

.flaticon-support-3:before {
    content: "\f12c";
}

.flaticon-quote-2:before {
    content: "\f12d";
}

.flaticon-woman-1:before {
    content: "\f12e";
}

.flaticon-download:before {
    content: "\f12f";
}

.flaticon-agreement:before {
    content: "\f130";
}

.flaticon-result:before {
    content: "\f131";
}

.flaticon-work:before {
    content: "\f132";
}

.flaticon-factory:before {
    content: "\f133";
}

.flaticon-objective:before {
    content: "\f134";
}

.flaticon-start:before {
    content: "\f135";
}

.flaticon-cloud-computing:before {
    content: "\f136";
}

.flaticon-send:before {
    content: "\f137";
}

.flaticon-balaclava:before {
    content: "\f138";
}

.flaticon-insurance:before {
    content: "\f139";
}

.flaticon-empire-state-building:before {
    content: "\f13a";
}

.flaticon-cardiovascular:before {
    content: "\f13b";
}

.flaticon-cancer:before {
    content: "\f13c";
}

.flaticon-alarm:before {
    content: "\f13d";
}

.flaticon-kidney:before {
    content: "\f13e";
}

.flaticon-wire:before {
    content: "\f13f";
}

.flaticon-construction-and-tools:before {
    content: "\f140";
}

.flaticon-invention:before {
    content: "\f141";
}

.flaticon-protector:before {
    content: "\f142";
}

.flaticon-water:before {
    content: "\f143";
}

.flaticon-leak:before {
    content: "\f144";
}

.flaticon-drain:before {
    content: "\f145";
}

.flaticon-water-heater:before {
    content: "\f146";
}

.flaticon-html:before {
    content: "\f147";
}

.flaticon-marsupial:before {
    content: "\f148";
}

.flaticon-internet:before {
    content: "\f149";
}

.flaticon-pin-1:before {
    content: "\f14a";
}

.flaticon-time-and-date:before {
    content: "\f14b";
}

.flaticon-send-1:before {
    content: "\f14c";
}

.flaticon-map-location:before {
    content: "\f14d";
}

.flaticon-time-and-date-1:before {
    content: "\f14e";
}

.flaticon-calendar:before {
    content: "\f14f";
}

.flaticon-send-2:before {
    content: "\f150";
}

.flaticon-work-1:before {
    content: "\f151";
}

.flaticon-idea:before {
    content: "\f152";
}

.flaticon-dinner:before {
    content: "\f153";
}

.flaticon-architecture-and-city:before {
    content: "\f154";
}

.flaticon-video:before {
    content: "\f155";
}

.flaticon-drink:before {
    content: "\f156";
}

.flaticon-profits:before {
    content: "\f157";
}

.flaticon-null:before {
    content: "\f158";
}

.flaticon-deposit:before {
    content: "\f159";
}

.flaticon-money-withdrawal:before {
    content: "\f15a";
}

.flaticon-esports:before {
    content: "\f15b";
}

.flaticon-shield-1:before {
    content: "\f15c";
}

.flaticon-casino:before {
    content: "\f15d";
}

.flaticon-dice:before {
    content: "\f15e";
}

.flaticon-save:before {
    content: "\f15f";
}

.flaticon-jigsaw:before {
    content: "\f160";
}

.flaticon-second-prize:before {
    content: "\f161";
}

.flaticon-gaming:before {
    content: "\f162";
}

.flaticon-wallet:before {
    content: "\f163";
}

.flaticon-marketing:before {
    content: "\f164";
}

.flaticon-arrow:before {
    content: "\f165";
}

.flaticon-address:before {
    content: "\f166";
}

.flaticon-whatsapp:before {
    content: "\f167";
}

.flaticon-mail-1:before {
    content: "\f168";
}

.flaticon-playing-cards:before {
    content: "\f169";
}

.flaticon-casino-1:before {
    content: "\f16a";
}

.flaticon-baccarat:before {
    content: "\f16b";
}

.flaticon-dice-1:before {
    content: "\f16c";
}

.flaticon-casino-2:before {
    content: "\f16d";
}

.flaticon-table-for-playing-cards:before {
    content: "\f16e";
}

.flaticon-gift:before {
    content: "\f16f";
}

.flaticon-gear-1:before {
    content: "\f170";
}

.flaticon-account:before {
    content: "\f171";
}

.flaticon-business-and-finance:before {
    content: "\f172";
}

.flaticon-money:before {
    content: "\f173";
}

.flaticon-affiliate:before {
    content: "\f174";
}

.flaticon-list:before {
    content: "\f175";
}

.flaticon-click-3:before {
    content: "\f176";
}

.flaticon-binocular:before {
    content: "\f177";
}

.flaticon-search-1:before {
    content: "\f178";
}

.flaticon-category:before {
    content: "\f179";
}

.flaticon-travel:before {
    content: "\f17a";
}

.flaticon-support-4:before {
    content: "\f17b";
}

.flaticon-plus:before {
    content: "\f17c";
}

.flaticon-minus:before {
    content: "\f17d";
}

.flaticon-marker:before {
    content: "\f17e";
}

.flaticon-email:before {
    content: "\f17f";
}

.flaticon-phone-1:before {
    content: "\f180";
}

.flaticon-play-button:before {
    content: "\f181";
}

.flaticon-server:before {
    content: "\f182";
}

.flaticon-server-1:before {
    content: "\f183";
}

.flaticon-browser:before {
    content: "\f184";
}

.flaticon-database:before {
    content: "\f185";
}

.flaticon-password:before {
    content: "\f186";
}

.flaticon-question:before {
    content: "\f187";
}

.flaticon-process:before {
    content: "\f188";
}

.flaticon-domain-registration:before {
    content: "\f189";
}

.flaticon-click-2:before {
    content: "\f18a";
}

.flaticon-play-button-1:before {
    content: "\f18b";
}

.flaticon-technician:before {
    content: "\f18c";
}

.flaticon-chart:before {
    content: "\f18d";
}

.flaticon-server-2:before {
    content: "\f18e";
}

.flaticon-server-3:before {
    content: "\f18f";
}

.flaticon-watch:before {
    content: "\f190";
}

.flaticon-maintenance:before {
    content: "\f191";
}

.flaticon-repair:before {
    content: "\f192";
}

.flaticon-add-group:before {
    content: "\f193";
}

.flaticon-cpu:before {
    content: "\f194";
}

.flaticon-cloud-computing-1:before {
    content: "\f195";
}

.flaticon-bandwidth:before {
    content: "\f196";
}

.flaticon-speed:before {
    content: "\f197";
}

.flaticon-server-4:before {
    content: "\f198";
}

/*** 

===============
	Reset Css
===============

 ***/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

/*** 

===================
	Global Settings
===================

 ***/
body {
    font-size: 16px;
    color: #292929;
    line-height: 1.7em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: "louis_george_caferegular", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    color: #292929;
}

button,
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none !important;
    transition: .3s;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-weight: 700;
    margin: 0px;
    background: none;
    line-height: 1.2em;
    font-family: "louis_george_cafebold", sans-serif;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

input, button, select, textarea {
    outline: none;
}

textarea {
    overflow: hidden;
}

p {
    position: relative;
    font-family: "louis_george_caferegular", sans-serif;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    display: inline-block;
    max-width: 100%;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
}

::selection {
    background-color: #0E8A701a;
    color: #f3b62f;
}

-moz-::selection {
    background-color: #0E8A701a;
    color: #f3b62f;
}

-webkit-::selection {
    background-color: #0E8A701a;
    color: #f3b62f;
}

-o-::selection {
    background-color: #0E8A701a;
    color: #f3b62f;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.border-0 {
    border: 0px;
}

.radius-50 {
    border-radius: 50px !important;
}

.centered {
    text-align: center;
}

/*** 

==================
    Color Classes
==================

***/
.cl-black {
    color: #292929;
}

.cl-primary {
    color: #f3b62f;
}

.cl-white {
    color: #ffffff;
}

.cl-blue {
    color: #2D0D6B;
}

.cl-blue-2 {
    color: #000040;
}

.cl-green {
    color: #86BC42;
}

.cl-mint {
    color: #17c0eb;
}

.cl-yellow {
    color: #f19b4e;
}

.cl-red {
    color: #ff5252;
}

.cl-facebook {
    color: #3B5999;
}

.cl-twitter {
    color: #55ACEE;
}

.cl-youtube {
    color: #CD201F;
}

.cl-pinterest {
    color: #BD081C;
}

.cl-instagram {
    color: #F5214A;
}

.facebook-bg {
    background: #3B5999;
}

.twitter-bg {
    background: #55ACEE;
}

.youtube-bg {
    background: #CD201F;
}

.pinterest-bg {
    background: #BD081C;
}

.google-plus-bg {
    background: #DD5144;
}

.linkedin-bg {
    background: #0077B5;
}

.instagram-bg {
    background: #F5214A;
}

/*** 

==================
    Section Styles
==================

***/
.container {
    max-width: 1200px;
}

.container-fluid {
    padding: 0 50px;
}

.section-padding {
    padding: 100px 0;
}

.section-padding-2 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section-padding-3 {
    padding-top: 100px;
    padding-bottom: 40px;
}

.section-title {
    margin-bottom: 40px;
}

.section-title h4 {
    color: #f3b62f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.section-title h2 {
    position: relative;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.4;
    z-index: 1;
    text-transform: capitalize;
    display: inline-block;
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 32px;
    }
}

@media (max-width: 450px) {
    .section-title h2 {
        font-size: 32px;
    }
}

/*** 

=======================
    Margin and Padding
=======================

***/
/* 
    Margin Top styles
*/
.mar-0 {
    margin: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

/* 
    Margin Bottom Styles
*/
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

/* 
    Margin Right Styles
*/
.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-60 {
    margin-right: 60px;
}

/* 
    Padding Top Styles
*/
.pad-0 {
    padding: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

/* 
    Padding Bottom Styles
*/
.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

/*** 

============================
    Background and Overlay
============================

***/
.gray-bg {
    background: #F9F9F9;
}

.black-bg {
    background: #292929;
}

.black-bg-2 {
    background: #555555;
}

.primary-bg {
    background: #f3b62f;
}

.primary-light-bg {
    background: #00C9B72c;
}

.primary-bg-dark {
    background: #037EBD;
}

.white-bg {
    background: #ffffff;
}

.blue-bg {
    background: #2D0D6B;
}

.light-blue-bg {
    background: #234BA5;
}

.green-bg {
    background: #86BC42;
}

.blue-bg-2 {
    background: #000040;
}

.red-bg {
    background: #ff5252;
}

.yellow-bg {
    background: #f19b4e;
}

.yellow-light-bg {
    background: #e9eef7;
}

.purple-bg {
    background: #8E0EF0;
}

.purple-light-bg {
    background: #E8CFFC;
}

.mint-bg {
    background: #17c0eb;
}

.transparent-bg {
    background: transparent;
}

.dark-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.dark-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #111;
    content: "";
    z-index: -1;
    opacity: .6;
}

.blue-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.blue-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000040;
    content: "";
    z-index: -1;
    opacity: .9;
}

.gradient-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.gradient-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #3b50e6 0%, #5f158e 100%);
    content: "";
    z-index: -1;
    opacity: .9;
}

.gradient-overlay-2 {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}

.gradient-overlay-2:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #463afe 0%, #3ab5e4 100%);
    content: "";
    z-index: -1;
    opacity: .85;
}

.shaded-bg {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.shaded-bg::after {
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 64, 0.4);
    content: "";
    top: 0;
    left: 0;
    transform: skewX(-40deg);
    z-index: -1;
}

/*** 

===================
    Buttons Style
===================

***/
.bttn-mid {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 40px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s;
    font-family: "louis_george_cafebold", sans-serif;
}

.bttn-small {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    padding: 8px 28px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
    font-family: "louis_george_cafebold", sans-serif;
    text-transform: uppercase;
}

.bttn-mid i, .bttn-small i {
    margin-right: 7px;
}

.btn-fill {
    color: #ffffff;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.btn-fill:hover {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    color: #ffffff;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.18);
}

.bttn-mid.btn-emt {
    padding: 12px 41px;
}

.btn-emt {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.btn-emt:hover {
    color: #ffffff;
    box-shadow: none;
    background: #f3b62f;
    border: 2px solid transparent;
}

.btn-wht {
    background: #ffffff;
    color: #f3b62f;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.btn-wht:hover {
    background: #f3b62f;
    color: #ffffff;
}

.btn-blu {
    background: #2D0D6B;
    color: #ffffff;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.btn-blu:hover {
    background: #f3b62f;
    color: #2D0D6B;
}

/* ==============================
    Preloader
    ============================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #2D0D6B;
}

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}

.lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #f3b62f;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }

    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }

    100% {
        transform: rotateY(3600deg);
    }
}

/* 
==============================
    ScrollUp Button 
============================== 
*/
a#scrollUp {
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f3b62f;
    text-align: center;
    color: #2D0D6B;
    border-radius: 50%;
    font-size: 16px;
}

a#scrollUp:hover {
    background: #7e30e4;
    color: #ffffff;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shape_1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes shape_1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shape_2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes shape_2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shape_3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Standard syntax */
@keyframes shape_3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.font-size-14 {
    font-size: 14px;
}

.font-size-14 p {
    margin-bottom: 0;
    color: #ffffff94;
}

/*

==========================
  Main Header style
==========================

*/
.header-top {
    color: #ffffff;
    padding: 10px 0;
}

.header-top .single-header-top p {
    margin: 0;
    margin-top: 3px;
    font-size: 14px;
    display: inline-block;
}

.header-top .single-header-top p span {
    margin-right: 20px;
}

.header-top .single-header-top p span i {
    margin-right: 5px;
}

.header-top .single-header-top p span a {
    color: #292929;
}

.header-top .single-header-top p span a:hover {
    color: #f3b62f;
}

.header-top .single-header-top ul {
    display: inline-block;
    margin-left: 20px;
}

.header-top .single-header-top ul li {
    display: inline-block;
    margin: 0 8px;
}

.header-top .single-header-top ul li:last-child {
    margin-right: 0;
}

.header-top .single-header-top ul li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
}

.header-top .single-header-top ul li a i {
    margin-right: 5px;
}

.header-top .single-header-top ul li a:hover {
    color: #f3b62f;
    text-decoration: underline;
}

.header-top .single-header-top .account-menu {
    float: right;
}

@media (max-width: 767px) {
    .header-top .single-header-top .account-menu {
        float: none;
        text-align: center;
    }
}

.header-top .single-header-top .account-menu select {
    font-size: 13px;
    text-transform: uppercase;
    border: 1px solid #585894;
    background: #000040;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 700;
    padding: 1px 3px;
}

@media (max-width: 767px) {
    .header-top .single-header-top .account-menu ul {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .header-top .single-header-top {
        text-align: center;
        overflow: hidden;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    .header-top .single-header-top.last {
        margin-bottom: 0px;
    }
}

.acc-tab-btn {
    width: 100%;
    background: #2D0D6B;
    text-align: center;
    border: 3px solid #2D0D6B;
}

.acc-tab-btn li {
    width: 50%;
    float: left;
}

.acc-tab-btn li a {
    width: 100%;
    padding: 12px 0;
    display: inline-block;
    color: #ffffff;
}

.acc-tab-btn li a.active {
    background-image: linear-gradient(to left, #a756ff 0%, #5b98ff 100%);
}

.social-login {
    text-align: center;
    margin-bottom: 20px;
}

.social-login a {
    padding: 6px 18px;
    margin-right: 10px;
    color: #ffffff;
    display: inline-block;
    border-radius: 4px;
}

@media (max-width: 420px) {
    .social-login a {
        margin-bottom: 5px;
    }
}

.social-login a i {
    margin-right: 5px;
}

.acc-form input {
    width: 100%;
    height: 50px;
    border: 2px solid #ddd;
    margin-bottom: 15px;
    text-indent: 15px;
    transition: 0.3s;
}

.acc-form input:focus {
    border: 2px solid #2D0D6B;
}

.acc-form button {
    width: 100%;
}

.header-area {
    padding: 10px 0;
    transition: 0.4s;
    width: 100%;
    z-index: 11;
}

.header-area.fixed-header {
    padding: 10px 0;
    transition: 0.4s;
    width: 100%;
    top: 0;
    z-index: 11;
    background: #fff;
    position: fixed;
}

.header-area.fixed-header ul li::before {
    color: #292929;
}

.header-area.fixed-header ul li:hover::before {
    color: #f3b62f;
}

.header-area.fixed-header ul li a {
    color: #292929;
}

@media (max-width: 991px) {
    .header-area.fixed-header ul li a {
        color: #ffffff;
    }
}

.header-area.fixed-header ul li a:hover {
    color: #f3b62f;
}

.header-area.fixed-header .header-btn button {
    color: #292929;
}

.header-sticky {
    background: transparent;
}

.sticky-header {
    background: #ffffff;
    padding: 10px 0;
}

.navbar-brand img {
    height: 32px;
    width: auto;
}

.main-menu {
    padding-left: 0;
    padding-right: 0;
}

.main-menu ul li {
    margin-right: 25px;
}

.main-menu ul li:last-child {
    margin-right: 0px;
}

.main-menu ul li:hover a {
    color: #f3b62f;
}

.main-menu ul li a {
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "louis_george_cafebold", sans-serif;
}

.main-menu ul li:nth-last-of-type(1) .dropdown-menu .dropdown-menu, .main-menu ul li:nth-last-of-type(2) .dropdown-menu .dropdown-menu, .main-menu ul li:nth-last-of-type(3) .dropdown-menu .dropdown-menu {
    left: -100%;
    top: 0;
}

ul.dropdown-menu li a {
    text-transform: capitalize;
}

li.nav-item.dropdown .dropdown-toggle {
    position: relative;
}

li.nav-item.dropdown .dropdown-toggle:before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: normal;
    right: -7px;
    top: 48%;
    transform: translateY(-48%);
}

@media (max-width: 991px) {
    li.nav-item.dropdown .dropdown-toggle:before {
        display: none;
    }
}

.dropdown-menu li.nav-item.dropdown:before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    right: 15px;
    top: 48%;
    transform: translateY(-48%) rotate(-90deg);
    color: #292929;
}

.dropdown a {
    transition: 0.4s;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    display: block;
    background: #2D0D6B;
    margin-top: 23px;
    width: 220px;
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid #f3b62f;
    -webkit-box-shadow: 0px 7px 20px -14px rgba(34, 54, 60, 0.74);
    box-shadow: 0px 7px 20px -14px rgba(34, 54, 60, 0.74);
}

.dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, -5px, 0);
}

.dropdown-menu a {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #ffffff !important;
}

.dropdown-menu a:hover {
    background: transparent;
    color: #f3b62f !important;
}

.dropdown-menu a:active {
    background: transparent;
}

ul.dropdown-menu li .dropdown-menu {
    left: 100%;
    top: 0;
}

@media (max-width: 991px) {
    ul.dropdown-menu li .dropdown-menu.show {
        visibility: visible;
        opacity: 1;
    }
}

.main-menu ul li ul li {
    margin-right: 0;
}

.menu-toggle {
    position: relative;
    display: block;
    width: 25px;
    height: 20px;
    background: transparent;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    color: #292929;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.menu-toggle:before, .menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
}

span.is-active {
    border-color: transparent;
}

span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

span.menu-toggle:hover {
    color: #ffb606;
}

span.is-active {
    border-color: transparent;
}

span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown-toggle::after {
    display: none;
}

.black-bg .menu-toggle {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.black-bg .menu-toggle::before, .black-bg .menu-toggle::after {
    background: #ffffff;
}

.black-bg .menu-toggle.is-active {
    border-color: transparent;
}

.header-btn {
    margin-left: 40px;
}

.search-btn {
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
}

/* Full Screen Search */
.search-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background: #f3b62f;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
}

.search-full.open {
    height: 150px;
    opacity: 1;
    visibility: visible;
}

.search-full.close {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.search-full .search-close {
    color: #f3b62f;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    background: transparent;
    color: #ffffff;
    transform: rotate(45deg);
}

.search-full .search-close:hover {
    transform: rotate(135deg);
}

.search-full--inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.main-search-form {
    width: 100%;
}

.main-search-form input {
    border: 2px solid #ffffff;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    height: 55px;
    font-size: 18px;
    font-weight: 300;
    text-indent: 20px;
    transition: 0.4s;
}

.main-search-form input:focus, .main-search-form input:hover {
    border: 2px solid #ffffff;
}

.main-search-form input::-webkit-input-placeholder {
    color: #ffffff;
}

.main-search-form input::-moz-placeholder {
    color: #ffffff;
}

.main-search-form input:-ms-input-placeholder {
    color: #ffffff;
}

.main-search-form input:-moz-placeholder {
    color: #ffffff;
}

@media (max-width: 991px) {
    .navbar-brand {
        margin-left: 15px;
    }

    .main-menu ul li {
        margin-right: 0;
        position: relative;
        margin: 3px 0;
    }

    .main-menu ul li.dropdown a {
        z-index: 999;
        position: relative;
        color: #ffffff;
    }

    .main-menu ul li a {
        color: #ffffff;
    }

    .main-menu ul li.dropdown:after {
        position: absolute;
        content: "\f107";
        font-family: FontAwesome;
        right: 15px;
        top: 0;
        color: #ffffff;
        line-height: 45px;
        overflow: hidden;
        z-index: 1;
        width: 45px;
        text-align: center;
        background: #000040;
    }

    .dropdown-menu {
        display: none;
    }

    .dropdown-menu {
        width: auto;
        margin: 10px 15px 10px 0;
        background: #000040;
    }

    .navbar-collapse {
        margin-top: 20px;
        padding-left: 15px;
        max-height: 450px;
        overflow: auto;
        background: rgba(45, 13, 107, 0.7);
        padding-bottom: 20px;
    }

    .cart-btn {
        margin-left: 0;
        margin-top: 15px;
    }

    li.nav-item.dropdown:before {
        display: none;
    }

    .header-btn {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .main-menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .navbar-toggler {
        padding-right: 0;
    }
}

/*

===============================
Footer Area
===============================

*/
.footer-area {
    position: relative;
    z-index: 1;
    background: #2D0D6B;
    overflow: hidden;
}

.footer-area::before {
    position: absolute;
    content: "";
    right: -400px;
    bottom: -100px;
    width: 948px;
    height: 495px;
    background: url("../images/hero-bg.png") no-repeat;
    opacity: 0.1;
}

.footer-area .footer-widget {
    margin-bottom: 30px;
    color: #ffffff;
}

.footer-area .footer-widget h3 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: -4px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
}

.footer-area .footer-widget p {
    margin-bottom: 20px;
    color: #96abbb;
}

.footer-area .footer-widget .social a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
}

.footer-area .footer-widget .social a:hover {
    background: #f3b62f;
    color: #ffffff;
}

.footer-area .footer-widget.footer-nav {
    margin-bottom: 30px;
}

.footer-area .footer-widget.footer-nav ul li {
    margin-bottom: 10px;
    position: relative;
    transition: 0.4s;
}

.footer-area .footer-widget.footer-nav ul li:last-child {
    margin-bottom: 0;
}

.footer-area .footer-widget.footer-nav ul li:hover {
    color: #73e457;
}

.footer-area .footer-widget.footer-nav ul li a {
    color: #96abbb;
    text-transform: capitalize;
    font-family: "louis_george_cafebold", sans-serif;
    padding-left: 25px;
    position: relative;
    font-size: 14px;
}

.footer-area .footer-widget.footer-nav ul li a::before {
    position: absolute;
    content: "\f198";
    left: 0;
    top: -3px;
    font-family: Fontawesome;
    font-size: 12px;
}

.footer-area .footer-widget.footer-nav ul li a:hover {
    color: #ffffff;
}

.footer-area .footer-widget.footer-insta .row {
    margin: 0 -2px;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] {
    padding: 0 2px;
    margin-bottom: 4px;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a {
    position: relative;
    display: block;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a img {
    width: 100%;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background: #f3b62f;
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    content: "\f06e";
    font-family: Fontawesome;
    opacity: 0;
    z-index: 2;
    transition: 0.4s;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a:hover::before {
    opacity: 0.8;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a:hover:after {
    opacity: 1;
}

.copyright {
    background: #000040;
    color: #96abbb;
    padding: 20px 0;
    font-size: 14px;
}

.copyright .copy-text p {
    margin: 0;
}

@media (max-width: 767px) {
    .copyright .copy-text {
        text-align: center;
        margin-bottom: 15px;
    }
}

.copyright .copy-nav ul {
    margin: 0;
    float: right;
}

@media (max-width: 767px) {
    .copyright .copy-nav ul {
        float: none;
        text-align: center;
    }
}

.copyright .copy-nav ul li {
    display: inline-block;
    margin: 0 8px;
}

.copyright .copy-nav ul li a {
    color: #96abbb;
    font-size: 14px;
}

.copyright .copy-nav ul li a:hover {
    color: #ffffff;
}

/*

===============================
Hero Area
===============================

*/
.hero-area {
    padding: 250px 0;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

@media (max-width: 991px) {
    .hero-area {
        padding: 150px 0;
    }
}

.hero-area::before {
    position: absolute;
    content: "";
    width: 950px;
    height: 732px;
    right: 0px;
    top: 75px;
    background: url(../images/hero-bg-2.png);
}

@media (max-width: 991px) {
    .hero-area::before {
        display: none;
    }
}

@media (max-width: 991px) {
    .hero-area .hero-content {
        text-align: center;
    }
}

.hero-area .hero-content h4 {
    color: #f3b62f;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-area .hero-content h1 {
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .hero-area .hero-content h1 {
        font-size: 60px;
    }
}

@media (max-width: 575px) {
    .hero-area .hero-content h1 {
        font-size: 40px;
    }
}

.hero-area .hero-content h2 {
    font-size: 52px;
    margin-bottom: 20px;
    font-weight: 300;
}

.hero-area .hero-content p {
    font-size: 18px;
}

@media (max-width: 575px) {
    .hero-area .hero-content a {
        margin-bottom: 10px;
    }
}

.hero-slider {
    color: #ffffff;
}

.hero-slider .single-slide {
    padding: 220px 0;
}

@media (max-width: 991px) {
    .hero-slider .single-slide {
        padding: 150px 0;
    }
}

@media (max-width: 991px) {
    .hero-slider .single-slide .hero-content {
        text-align: center;
    }
}

.hero-slider .single-slide .hero-content h4 {
    color: #f3b62f;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-slider .single-slide .hero-content h1 {
    font-size: 80px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    .hero-slider .single-slide .hero-content h1 {
        font-size: 60px;
    }
}

@media (max-width: 575px) {
    .hero-slider .single-slide .hero-content h1 {
        font-size: 40px;
    }
}

.hero-slider .single-slide .hero-content h2 {
    font-size: 52px;
    margin-bottom: 20px;
    font-weight: 300;
}

.hero-slider .single-slide .hero-content p {
    font-size: 18px;
}

@media (max-width: 575px) {
    .hero-slider .single-slide .hero-content a {
        margin-bottom: 10px;
    }
}

.hero-slider .owl-nav {
    display: block;
}

.hero-slider .owl-nav button {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #292929;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: rgba(45, 13, 107, 0.5) !important;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.hero-slider .owl-nav button.owl-next {
    left: auto;
    right: 50px;
}

.hero-slider .owl-nav button:hover {
    background: #2D0D6B !important;
}

@media (max-width: 991px) {
    .hero-slider .owl-nav {
        display: none;
    }
}

/*

===============================
Single Box
===============================

*/
.single-box {
    position: relative;
    padding: 40px;
    color: #ffffff;
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 30px;
}

.single-box::before {
    background: #132152;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    border-radius: 10px;
}

.single-box img {
    margin-bottom: 30px;
    width: 50px;
}

.single-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;
}

.single-box p {
    margin-bottom: 20px;
    color: #ffffffb8;
}

/*

===============================
Single Play now
===============================

*/
.single-playnow {
    background: #2D0D6B;
    padding: 45px 30px;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 64, 0.2);
    margin-bottom: 30px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.18);
    transition: 0.6s;
    position: relative;
}

.single-playnow::after {
    position: absolute;
    content: "\f15f";
    color: rgba(255, 255, 255, 0.1);
    font-size: 60px;
    top: 25px;
    right: 10px;
    font-family: Flaticon;
    transition: 0.5s;
}

.single-playnow img {
    width: 100px;
    margin-bottom: 30px;
}

.single-playnow h4 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
}

.single-playnow:hover {
    background: #000040;
}

.single-playnow:hover a {
    transform: scale(1.1);
}

.single-playnow:hover::after {
    font-size: 90px;
    top: 40px;
    right: 30px;
}

/*

===============================
Domain List
===============================

*/
.winner-list .table-dark {
    background: #000040;
    color: #ffffff;
}

.winner-list .table {
    border-radius: 8px;
    margin-bottom: 0;
    font-family: "louis_george_cafebold", sans-serif;
}

.winner-list .table thead {
    background: #7e30e4;
}

.winner-list .table thead tr th {
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.winner-list .table tbody tr th {
    padding: 20px;
    vertical-align: middle;
}

.winner-list .table tbody tr td {
    font-size: 16px;
    padding: 25px;
    font-weight: 300;
    vertical-align: middle;
}

.winner-list .table tbody tr td img {
    width: 25px;
    margin-right: 12px;
}

.winner-list .table tbody tr:hover {
    box-shadow: 0 0 15px 0 rgba(29, 17, 128, 0.3);
}

/*

===============================
brands Area
===============================

*/
.single-brands {
    text-align: center;
    margin-bottom: 30px;
}

.single-brands a {
    display: block;
    border: 2px solid #2D0D6B;
    padding: 40px 20px;
    border-radius: 8px;
}

.single-brands a:hover {
    border-color: #7e30e4;
}

.single-brands a:hover img {
    transform: scale(1.1);
}

.single-brands a img {
    height: 60px;
    width: auto !important;
    margin: auto;
    transition: 0.4s;
    display: block;
}

/*

===============================
Counter Area
===============================

*/
.counter-area {
    background-size: cover;
}

.counter-area .single-counter {
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
    padding: 30px;
    border: 1px dashed #ffffff;
    transition: 0.4s;
    border-radius: 8px;
}

@media (max-width: 575px) {
    .counter-area .single-counter {
        margin-bottom: 50px;
    }
}

.counter-area .single-counter i {
    font-size: 42px;
    display: block;
    line-height: initial;
    margin-bottom: 20px;
}

.counter-area .single-counter h3 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.counter-area .single-counter h5 {
    font-size: 18px;
    font-weight: 300;
    text-transform: capitalize;
}

.counter-area .single-counter:hover {
    border-color: #f3b62f;
}

/*

===============================
Testimonials
===============================

*/
.testimonials .single-testimonial {
    padding: 40px;
    margin-bottom: 30px;
    border: 1px solid #2D0D6B;
    border-radius: 8px;
    overflow: hidden;
    color: #ffffff;
    transition: 0.4s;
}

.testimonials .single-testimonial .testimonial-thumb {
    width: 20%;
    float: left;
}

.testimonials .single-testimonial .testimonial-thumb img {
    width: 100%;
    border-radius: 7px;
}

.testimonials .single-testimonial .testimonial-content {
    width: 75%;
    float: left;
    margin-left: 5%;
}

.testimonials .single-testimonial .testimonial-content .ratings {
    color: #f19b4e;
}

.testimonials .single-testimonial .testimonial-content .ratings i {
    font-size: 12px;
    margin-right: 1px;
}

.testimonials .single-testimonial .testimonial-content p {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    color: #cdcdec;
}

.testimonials .single-testimonial .testimonial-content h5 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.testimonials .single-testimonial .testimonial-content h6 {
    font-weight: 300;
    font-size: 14px;
    color: #7e30e4;
}

.testimonials .single-testimonial:hover {
    border-color: rgba(243, 182, 47, 0.4);
}

/*

===============================
feature area
===============================

*/
.feature-area .single-feature {
    margin-bottom: 30px;
    border: 2px solid #efefef23;
    padding: 45px 30px;
    text-align: center;
    border-radius: 4px;
}

.feature-area .single-feature img {
    width: 65px;
    height: 65px;
    margin-bottom: 30px;
    transition: 0.4s;
}

.feature-area .single-feature h4 {
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.feature-area .single-feature p {
    color: #ffffff;
    margin-bottom: 15px;
}

.feature-area .single-feature a {
    font-weight: 400;
    color: #ffffff;
}

.feature-area .single-feature a:hover {
    color: #2D0D6B;
}

.feature-area .single-feature:hover img {
    transform: scale(1.2);
}

.feature-area .single-feature-2 {
    margin-bottom: 60px;
    padding: 0 30px;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.feature-area .single-feature-2.bottom-after:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    top: 0px;
    left: 70%;
    background: url(../images/after-1.png) center center no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
    .feature-area .single-feature-2.bottom-after:after {
        display: none;
    }
}

.feature-area .single-feature-2.bottom-before:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    bottom: 150px;
    left: 68%;
    background: url(../images/after-2.png) center center no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
    .feature-area .single-feature-2.bottom-before:after {
        display: none;
    }
}

.feature-area .single-feature-2 i {
    font-size: 34px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
    transition: 0.4s;
}

.feature-area .single-feature-2 h4 {
    font-weight: 300;
    margin-bottom: 15px;
    text-transform: capitalize;
    transition: 0.4s;
}

.feature-area .single-feature-2 p {
    margin-bottom: -5px;
}

.feature-area .single-feature-2:hover i {
    background: #ffffff;
    color: #2D0D6B;
}

/*

===============================
FAQ Area
===============================

*/
.faq-contents {
    display: block;
    height: auto;
    margin-bottom: 30px;
}

.faq-contents .accordion {
    list-style: none;
    padding: 0;
}

.faq-contents .accordion li {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.faq-contents .accordion li:last-child {
    margin-bottom: 0px;
}

.faq-contents .accordion li p {
    display: none;
    padding: 10px 30px 20px 20px;
    color: #fff;
    font-size: 16px;
    background: transparent;
    margin-bottom: 0;
    line-height: 2;
    border-radius: 4px;
}

.faq-contents .accordion li a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #ffffff;
    user-select: none;
    font-weight: 300;
}

.faq-contents .accordion li a i {
    font-size: 30px;
    color: #ffffff;
    margin-right: 20px;
    font-weight: normal;
}

.faq-contents .accordion li a.active {
    color: #ffffff;
    border: 0;
}

.faq-contents .accordion li a.active::after {
    transform: rotate(225deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.faq-contents .accordion li a::after {
    width: 10px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    position: absolute;
    right: 25px;
    content: " ";
    top: 35px;
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*

===============================
affiliate area
===============================

*/
.affiliate-section p {
    margin-bottom: 30px;
}

.affiliate-section ul {
    margin-bottom: 40px;
}

.affiliate-section ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 16px;
}

.affiliate-section ul li::before {
    position: absolute;
    content: "\f109";
    font-size: 18px;
    font-family: Flaticon;
    color: #f3b62f;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/*

===============================
newslatter area
===============================

*/
.newslatter form {
    position: relative;
    overflow: hidden;
}

.newslatter form input {
    width: 100%;
    height: 60px;
    float: left;
    box-shadow: 0px 0px 9px 1px rgba(253, 77, 64, 0.1);
    font-size: 16px;
    text-indent: 25px;
    background: #000040;
    border-radius: 8px;
    color: #ffffff;
}

.newslatter form input::placeholder {
    color: #f3b62f;
}

.newslatter form button {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 100px;
    height: 52px;
    color: #ffffff;
    background: #f3b62f;
    border-radius: 8px;
    font-size: 18px;
}

.newslatter form button:hover {
    background: #2D0D6B;
    color: #ffffff;
}

.newslatter p {
    margin: 0;
    font-size: 10px;
    display: block;
}

.newslatter p i {
    margin-right: 5px;
}

/*

===============================
Blog Area
===============================

*/
/* .blog-area {

} */

.blog-area .single-blog {
    margin-bottom: 30px;
}

.blog-area .single-blog:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog .single-blog-img {
    position: relative;
}

.blog-area .single-blog .single-blog-img img {
    width: 100%;
    border-radius: 8px;
}

.blog-area .single-blog .single-blog-img a {
    font-size: 26px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-45%, -50%);
    opacity: 0;
    transition: 0.3s;
}

.blog-area .single-blog .single-blog-img a:hover {
    color: #ff5252;
}

.blog-area .single-blog .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #292929;
    opacity: 0;
    transition: 0.4s;
    border-radius: 8px;
}

.blog-area .single-blog .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #2D0D6B;
    color: #ffffff;
    width: 90%;
    margin: auto;
    margin-top: -70px;
    position: relative;
}

.blog-area .single-blog .single-blog-content .blog-meta {
    margin-bottom: 10px;
}

.blog-area .single-blog .single-blog-content .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #ffffff;
}

.blog-area .single-blog .single-blog-content .blog-meta span a:hover {
    color: #f3b62f;
}

.blog-area .single-blog .single-blog-content .blog-meta span a i {
    color: #f3b62f;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .single-blog .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
    line-height: 1.4em;
    font-weight: 400;
}

.blog-area .single-blog .single-blog-content h3 a {
    color: #ffffff;
}

.blog-area .single-blog .single-blog-content h3 a:hover {
    color: #f3b62f;
    text-decoration: underline;
}

.blog-area .single-blog .single-blog-content p {
    margin-bottom: 0;
}

.blog-area .single-blog-2 {
    margin-bottom: 30px;
}

.blog-area .single-blog-2:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog-2:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog-2 .single-blog-img {
    position: relative;
}

.blog-area .single-blog-2 .single-blog-img img {
    width: 100%;
}

.blog-area .single-blog-2 .single-blog-img a {
    font-size: 26px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
}

.blog-area .single-blog-2 .single-blog-img a:hover {
    color: #f3b62f;
}

.blog-area .single-blog-2 .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #292929;
    opacity: 0;
    transition: 0.4s;
}

.blog-area .single-blog-2 .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    position: relative;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta {
    margin-bottom: 10px;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #263845;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a:hover {
    color: #f3b62f;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a i {
    color: #f3b62f;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .single-blog-2 .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.blog-area .single-blog-2 .single-blog-content h3 a {
    color: #292929;
}

.blog-area .single-blog-2 .single-blog-content h3 a:hover {
    color: #2D0D6B;
    text-decoration: underline;
}

.blog-area .single-blog-2 .single-blog-content p {
    margin-bottom: 0;
}

.blog-area .single-blog-3 {
    margin-bottom: 30px;
}

.blog-area .single-blog-3:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog-3:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog-3 .single-blog-img {
    position: relative;
}

.blog-area .single-blog-3 .single-blog-img img {
    width: 100%;
}

.blog-area .single-blog-3 .single-blog-img .blog-meta {
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.blog-area .single-blog-3 .single-blog-img .blog-meta span {
    text-transform: uppercase;
    background: #f3b62f;
    padding: 8px 22px;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.blog-area .single-blog-3 .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #292929;
    opacity: 0;
    transition: 0.4s;
}

.blog-area .single-blog-3 .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    position: relative;
}

.blog-area .single-blog-3 .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.blog-area .single-blog-3 .single-blog-content h3 a {
    color: #292929;
}

.blog-area .single-blog-3 .single-blog-content h3 a:hover {
    color: #f3b62f;
    text-decoration: underline;
}

.blog-area .single-blog-3 .single-blog-content p {
    margin-bottom: 0;
}

.blog-area .styled-pagination {
    position: relative;
    margin-bottom: 30px;
}

.blog-area .styled-pagination li {
    position: relative;
    display: inline-block;
    margin: 0px 3px 0px 0px;
}

.blog-area .styled-pagination li.previous a, .blog-area .styled-pagination li.next a {
    color: #ffffff;
}

.blog-area .styled-pagination li a {
    position: relative;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    min-width: 40px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    background-color: #2D0D6B;
}

.blog-area .styled-pagination li a:hover, .blog-area .styled-pagination li a.active {
    color: #2D0D6B;
    background-color: #f3b62f;
}

.blog-area .blog-details img {
    width: 100%;
    margin-bottom: 30px;
}

.blog-area .blog-details .blog-meta {
    margin-bottom: 10px;
}

.blog-area .blog-details .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #ffffff;
}

.blog-area .blog-details .blog-meta span a:hover {
    color: #f3b62f;
}

.blog-area .blog-details .blog-meta span a i {
    color: #f3b62f;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .blog-details h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}

.blog-area .blog-details .blockquote {
    font-size: 16px;
    border-left: 2px solid #f3b62f;
    font-style: italic;
    padding-left: 15px;
    margin: 20px 0;
    padding: 20px;
    background: #2D0D6B;
}

.blog-area .blog-all-comments {
    color: #ffffff;
}

.blog-area .blog-all-comments h3 {
    margin-bottom: 20px;
    font-weight: 600;
}

.blog-area .blog-all-comments .blog-comments {
    margin-bottom: 40px;
    padding: 30px 40px;
    overflow: hidden;
    background: #2D0D6B;
}

.blog-area .blog-all-comments .blog-comments div {
    overflow: hidden;
}

.blog-area .blog-all-comments .blog-comments .author-thumb {
    width: 20%;
    float: left;
}

.blog-area .blog-all-comments .blog-comments .author-thumb img {
    border-radius: 50%;
    width: 70px;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-details h4 {
    float: left;
    font-size: 18px;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-details .comment-reply-btn {
    float: right;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-designation {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
    font-style: italic;
}

.blog-area .blog-comment-form {
    margin-bottom: 30px;
    color: #ffffff;
}

.blog-area .blog-comment-form h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.blog-area .blog-comment-form input, .blog-area .blog-comment-form textarea {
    width: 100%;
    border: 2px solid #E5E5E5;
    text-indent: 20px;
    margin-bottom: 30px;
    transition: .3s;
    background: transparent;
    color: #ffffff;
}

.blog-area .blog-comment-form input:focus, .blog-area .blog-comment-form textarea:focus {
    border-color: #f3b62f;
}

.blog-area .blog-comment-form input {
    height: 50px;
}

.blog-area .blog-comment-form textarea {
    padding-top: 15px;
}

.blog-area .blog-comments + .blog-comments {
    margin-left: 15%;
}

@media (max-width: 767px) {
    .blog-area .blog-comment-form {
        margin-bottom: 40px;
    }
}

.blog-area .post-share-and-tag {
    margin: 40px 0 60px 0;
}

.blog-area .post-share-and-tag .social {
    float: right;
    color: #f3b62f;
}

@media (max-width: 767px) {
    .blog-area .post-share-and-tag .social {
        float: none;
        text-align: left;
        margin-top: 20px;
    }
}

.blog-area .post-share-and-tag .social span {
    font-size: 20px;
    font-weight: 700;
}

.blog-area .post-share-and-tag .social a {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
}

.blog-area .post-share-and-tag .tags {
    color: #f3b62f;
}

.blog-area .post-share-and-tag .tags a {
    color: #ffffff;
    text-transform: capitalize;
}

.blog-area .post-share-and-tag .tags a:hover {
    color: #f3b62f;
}

/*

===============================
Breadcrumb area
===============================

*/
.breadcrumb-area {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}

.breadcrumb-area .site-breadcrumb h2 {
    font-size: 52px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.breadcrumb-area .site-breadcrumb ul {
    display: inline-block;
    padding: 8px 30px;
    background: #411b8c;
    border-radius: 4px;
}

.breadcrumb-area .site-breadcrumb ul li {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
}

.breadcrumb-area .site-breadcrumb ul li a {
    margin-right: 20px;
    position: relative;
    color: #ffffff;
    font-weight: 700;
}

.breadcrumb-area .site-breadcrumb ul li a:after {
    position: absolute;
    content: "\f105";
    font-family: Fontawesome;
    right: -15px;
    top: -4px;
    font-weight: normal;
}

.breadcrumb-area .site-breadcrumb ul li a:hover {
    color: #f3b62f;
}

/*

===============================
Jackpots
===============================

*/
.single-jackpot {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ffffff30;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    transition: 0.3s;
}

@media (max-width: 450px) {
    .single-jackpot {
        display: block;
    }
}

.single-jackpot .jackpot-thumb {
    margin-right: 30px;
}

@media (max-width: 450px) {
    .single-jackpot .jackpot-thumb {
        margin-right: 0px;
        margin-bottom: 30px;
    }
}

.single-jackpot .jackpot-content h3 {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 22px;
}

.single-jackpot .jackpot-content p {
    color: rgba(255, 255, 255, 0.7);
}

.single-jackpot:hover {
    border-color: rgba(243, 182, 47, 0.3);
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

/*

===============================
inplay-details
===============================

*/
.inplay-details .single-inplay {
    overflow: hidden;
    display: block;
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #2D0D6B;
    margin-bottom: 20px;
}

.inplay-details .single-inplay .img {
    width: 75px;
    float: left;
}

.inplay-details .single-inplay .img img {
    width: 40px;
}

.inplay-details .single-inplay .text {
    float: left;
    color: #ffffff;
}

.inplay-details .single-inplay .text h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}

.inplay-details .single-inplay .text p {
    font-size: 14px;
    margin: 0;
}

.inplay-details .single-inplay .ball {
    float: right;
}

.inplay-details .single-inplay .ball a {
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    font-weight: 700;
    background: #f3b62f;
    color: #2D0D6B;
    border-radius: 50%;
}

.inplay-details .single-inplay .ball a:hover {
    background: #7e30e4;
    color: #ffffff;
}

.inplay-details .single-inplay:hover {
    background: #2D0D6B;
}

/*

===============================
Privacy polices area
===============================

*/
.polices-content {
    margin-top: -6px;
}

.polices-content h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.polices-content h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.polices-content p {
    margin-bottom: 30px;
}

.polices-content ul li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 25px;
}

.polices-content ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f111";
    font-family: Fontawesome;
    color: #2D0D6B;
    font-size: 8px;
}

.polices-content ul li:last-child {
    margin-bottom: 0px;
}

.polices-content.cl-white ul li:before {
    color: #ffffff;
}

/*

===============================
Contact area
===============================

*/
.contact-form form h4 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form form p {
    font-family: "louis_george_cafebold", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    border: 2px solid #2D0D6B;
    background: #2D0D6B;
    color: #ffffff;
    text-indent: 15px;
    margin-bottom: 15px;
    font-family: "louis_george_cafebold", sans-serif;
    font-size: 16px;
    border-radius: 4px;
}

.contact-form form input:focus, .contact-form form textarea:focus {
    border-color: #4a2296;
}

.contact-form form input {
    height: 55px;
}

.contact-form form textarea {
    text-indent: 0;
    padding: 10px 15px;
}

/*

===============================
account-form
===============================

*/
.account-form .title {
    margin-bottom: 30px;
    text-align: center;
}

.account-form .title h3 {
    font-weight: 300;
}

.account-form .via-login {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account-form .via-login a {
    margin-bottom: 10px;
    padding: 10px 25px;
    color: #ffffff;
    border-radius: 4px;
    font-family: "louis_george_cafebold", sans-serif;
    font-size: 13px;
}

.account-form form input {
    width: 100%;
    height: 55px;
    padding: 0 15px;
    border: 2px solid #2D0D6B;
    background: #2D0D6B;
    margin-bottom: 15px;
    border-radius: 4px;
    color: #ffffff;
}

.account-form form input:focus {
    border-color: #4a2296;
}

.account-form form button {
    margin-bottom: 15px;
}

.account-form form p {
    font-size: 13px;
    font-family: "louis_george_cafebold", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.account-form form p a {
    color: #f3b62f;
}

.account-form form p a:hover {
    color: #f3b62f;
    text-decoration: underline;
}

/*

===============================
Dashboard content
===============================

*/
.sidebar {
    background: #2D0D6B;
    margin-bottom: 30px;
    border: 2px solid #2D0D6B;
    border-radius: 4px;
}

.sidebar .sidebar-profile {
    text-align: center;
    color: #ffffff;
    padding: 30px 20px;
    border-bottom: 5px solid #7e30e4;
}

.sidebar .sidebar-profile img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.sidebar .sidebar-profile h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.sidebar .sidebar-profile p {
    font-size: 14px;
    margin-bottom: 0;
}

.sidebar ul li:last-child {
    border-bottom: 0px;
}

.sidebar ul li a {
    display: block;
    color: #ffffff;
    padding: 16px;
    font-size: 14px;
}

.sidebar ul li a:hover {
    background: #482290;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar ul li.active a {
    background: #482290;
}

.dashboard-content .single-currency-box {
    padding: 40px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    border-radius: 4px;
    transition: 0.4s;
    color: #ffffff;
    background: #2D0D6B;
}

.dashboard-content .single-currency-box h4 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}

.dashboard-content .single-currency-box p {
    margin-bottom: 0;
    display: inline-block;
}

.dashboard-content .single-currency-box a {
    font-size: 44px;
    float: right;
    color: #ffffff61;
    display: block;
    margin-top: -20px;
}

.dashboard-content .single-currency-box a:hover {
    color: #f3b62f;
}

.dashboard-content .single-currency-box:hover {
    transform: translate3d(0, -10px, 0);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*

===============================
Basic Card
===============================

*/
.card {
    border: 1px solid #373369;
    background: #2D0D6B;
}

.card .card-header {
    background: #482290;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card .card-header span {
    font-weight: 300;
    font-size: 16px;
}

.card .card-header strong {
    color: #ffffff;
}

.card .card-header a {
    float: right;
    color: #ffffff;
}

.card .card-header img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.card .card-body {
    color: #ffffff;
}

.card .card-body p:last-child {
    margin-bottom: 0;
}

.card .card-body p strong {
    color: #2D0D6B;
}

.card .card-body p strong:hover {
    color: #000040;
}

.card ul li a {
    color: #2D0D6B;
    font-weight: 700;
}

.card ul li a:hover {
    color: #f3b62f;
}

/*

===============================
Dashboard Profile
===============================

*/
.profile-card-body .thumb {
    margin-bottom: 20px;
    float: right;
}

@media (max-width: 575px) {
    .profile-card-body .thumb {
        float: left;
    }
}

.profile-card-body .thumb img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-card-body .left-info {
    text-align: right;
}

@media (max-width: 575px) {
    .profile-card-body .left-info {
        text-align: left;
    }
}

.profile-card-body .right-info p {
    font-weight: 700;
}

.profile-card-body .right-info a {
    font-weight: 700;
    color: #ffffff;
}

.profile-card-body .right-info a:hover {
    color: #f3b62f;
}

@media (max-width: 575px) {
    .profile-card-body .right-info {
        float: left;
    }
}

/*

===============================
Refferal Statistic
===============================

*/
.refferal-link {
    margin-bottom: 60px;
}

.refferal-link form {
    position: relative;
    overflow: hidden;
}

.refferal-link form input {
    width: 100%;
    height: 60px;
    float: left;
    box-shadow: 0px 0px 9px 1px rgba(253, 77, 64, 0.1);
    font-size: 16px;
    text-indent: 25px;
    background: #2D0D6B;
    border-radius: 8px;
    color: #ffffff;
}

.refferal-link form input::value {
    color: #f3b62f;
}

.refferal-link form button {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 100px;
    height: 52px;
    color: #ffffff;
    background: #f3b62f;
    border-radius: 8px;
    font-size: 18px;
}

.refferal-link form button:hover {
    background: #f19b4e;
    color: #ffffff;
}

.refferal-link p {
    margin: 0;
    font-size: 12px;
    display: block;
}

.refferal-link p i {
    margin-right: 5px;
}

/*

===============================
Sidebar
===============================

*/
.site-sidebar .single-sidebar {
    margin-bottom: 40px;
    padding: 30px;
    box-shadow: 0px 0px 16px 4px rgba(12, 22, 58, 0.5);
    color: #ffffff;
}

.site-sidebar .single-sidebar div {
    overflow: hidden;
}

.site-sidebar .single-sidebar:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar h3 {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.site-sidebar .single-sidebar form {
    width: 100%;
    position: relative;
    height: 50px;
    border-radius: 4px;
    background: #2D0D6B;
}

.site-sidebar .single-sidebar form input {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    text-indent: 15px;
    border: 2px solid #2D0D6B;
    background: #2D0D6B;
    color: #ffffff;
}

.site-sidebar .single-sidebar form input:hover, .site-sidebar .single-sidebar form input:focus {
    border-color: #4a2296;
}

.site-sidebar .single-sidebar form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #f3b62f;
    height: 100%;
    width: 50px;
}

.site-sidebar .single-sidebar form:hover button {
    background: #f3b62f;
    color: #2D0D6B;
}

.site-sidebar .single-sidebar ul li {
    margin-bottom: 20px;
    position: relative;
    transition: 0.4s;
}

.site-sidebar .single-sidebar ul li:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar ul li:before {
    position: absolute;
    content: "\f101";
    font-family: 'Fontawesome';
    color: #f3b62f;
    left: -10px;
    opacity: 0;
    transition: 0.4s;
}

.site-sidebar .single-sidebar ul li:hover {
    padding-left: 15px;
}

.site-sidebar .single-sidebar ul li:hover:before {
    left: 0px;
    opacity: 1;
}

.site-sidebar .single-sidebar ul li a {
    color: #ffffff;
    display: block;
    text-transform: capitalize;
}

.site-sidebar .single-sidebar ul li a:hover {
    color: #f3b62f;
}

.site-sidebar .single-sidebar .social-follow a {
    padding: 25px 30px;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-family: "louis_george_cafebold", sans-serif;
    margin: 0 1px;
}

.site-sidebar .single-sidebar .social-follow a:hover {
    background: #f3b62f;
}

.site-sidebar .single-sidebar .social-follow a i {
    display: block;
    font-size: 18px;
}

@media (max-width: 991px) {
    .site-sidebar .single-sidebar .social-follow a {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .site-sidebar .single-sidebar .social-follow a {
        width: 100%;
    }
}

.site-sidebar .single-sidebar .archives a {
    display: block;
    margin-bottom: 15px;
    font-family: "louis_george_cafebold", sans-serif;
    color: #ffffff;
}

.site-sidebar .single-sidebar .archives a:hover {
    color: #f3b62f;
}

.site-sidebar .single-sidebar .archives a:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar .archives a span {
    float: right;
}

.site-sidebar .single-sidebar a img {
    width: 100%;
}
